body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vh;
}
.header {
    display: flex;
    justify-content: center;
    background-color: bisque;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: red;
}

.buttons {
    display: grid;
    grid-template-areas: 
    "seven eight nine plus"
    "four five six minus"
    "one two three times"
    "clear zero equal divide";
}